<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Employees Data By Inverval Time</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<div class = "row">
			<h3>Employees Data By Inverval Time</h3>
		</div>
		<div class = "row">
			<hr>
		</div>
		<div class = "row">
			<a class="btn btn-primary" th:href="@{/}" role="button">Main Page</a>
		</div>
		<div class = "row">
			<hr>
		</div>
		<div class = "row">
			<div class =  "col-12">
				<form action="postdataByIntervalTimeForm" method="post">
				  <div class="form-row">
				    <div class="form-group col-md-5">
				      <label for="startDate">Start Date</label>
				      <input type="date" class="form-control" id="startDate" value="2019-01-01" name="startDate" min="2019-01-01" max="2019-12-31">
				    </div>
	   			    <div class="form-group col-md-5">
				      <label for="endDate">End Date</label>
				      <input type="date" class="form-control" id="endDate" value="2019-01-02" name="endDate" min="2019-01-01" max="2019-12-31">
				    </div>
				  </div>
				  <button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
		</div>
		<div class = "row">
			<hr>
		</div>
		<div class = "row" th:if="${employeesByIntervalTime != null}">
			<div class = "col-12">
				<table class = "table table-bordered">
					<thead>
						<tr>
							<th>Employee IS</th>
							<th>Date In</th>
							<th>Date Out</th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${employeesByIntervalTime.isEmpty()}">
							<td colspan="3"><p th:text = "${errorInterval}"></p></td> 
						</tr>
				        <tr th:each="employee : *{employeesByIntervalTime}">                   
				            <td  th:text ="${employee.is}"></td>
				            <td>
				            	<ul class="list-unstyled" th:each="date : ${employee.workDays}" >
								  <li th:text ="${date.dateIn}"></li>
								</ul>
				            </td>
				            <td>
				            	<ul class="list-unstyled" th:each="date : ${employee.workDays}" >
								  <li th:text ="${date.dateOut}"></li>
								</ul>
				            </td>
				        </tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>