<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Hours By Month</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<div class = "row">
			<h3>Momentum Hours by Month</h3>
		</div>
		<div class = "row">
			<hr>
		</div>
		<div class = "row">
			<a class="btn btn-primary" th:href="@{/}" role="button">Main Page</a>
		</div>
		<div class = "row">
			<hr>
		</div>
		<div class = "row">
			<form action="gethoursByMonthForm" method="get">
			  <div class="form-row">
			    <div class="form-group col-md-6">
			      <label for="is">Employee IS</label>
			      <input type="text" class="form-control" id="is" name="is" placeholder="Employee IS">
			    </div>
			    <div class="form-group col-md-6">
			      <label for="month">Month</label>
			      <input type="month" class="form-control" id="month" value="2019-01" name="month" min="2019-01">
			    </div>
			  </div>
			  <button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
		<div class = "row">
			<hr>
		</div>
		<div class = "row" th:if="${employeeHours != null}">
			<div class = "col-12">
				<table class = "table table-bordered">
					<thead>
						<tr>
							<th>Employee IS</th>
							<th>Date</th>
							<th>Hours per Month</th>
						</tr>
					</thead>
					<tbody>
				        <tr>                   
				            <td  th:text ="${employeeHours.is}"></td>
				            <td  th:text ="${employeeHours.date}"></td>
				            <td  th:text ="${employeeHours.hours}"></td>
				        </tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>