<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Momentum Data</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<div class = "row">
			<h3>Momentum WorkDays</h3>
		</div>
		<div class = "row">
			<hr>
		</div>
		<div class = "row">
			<a class="btn btn-primary" th:href="@{/}" role="button">Main Page</a>
		</div>
		<div class = "row">
			<hr>
		</div>
		<div class = "row">
			<div class = "col-12">
				<table class = "table table-bordered">
					<thead>
						<tr>
							<th>Employee IS</th>
							<th>Date In</th>
							<th>Date Out</th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${employees.isEmpty()}">
							<td colspan="3">Data Not Available</td> 
						</tr>
				        <tr th:each="employee : *{employees}">                   
				            <td  th:text ="${employee.is}"></td>
				            <td>
				            	<ul class="list-unstyled" th:each="date : ${employee.workDays}" >
								  <li th:text ="${date.dateIn}"></li>
								</ul>
				            </td>
				            <td>
				            	<ul class="list-unstyled" th:each="date : ${employee.workDays}" >
								  <li th:text ="${date.dateOut}"></li>
								</ul>
				            </td>
				        </tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>