<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Upload File</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
	<div class = "container">
		<div class = "row">
			<h3>Upload File</h3>
		</div>
		<div class = "row">
			<hr>
		</div>
		<div class = "row">
			<div class="col-10">
				<div class="alert alert-success alert-dismissible fade show" role="alert" th:if=${successMessage}>
				  <strong th:text=${successMessage}></strong> <p>Return to main page to view Employee information</p>
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				    <span aria-hidden="true">&times;</span>
				  </button>
				</div>
				<div class="alert alert-warning alert-dismissible fade show" role="alert" th:if=${errorMessage}>
				  <strong>Holy guacamole!</strong><p th:text=${errorMessage}></p>
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				    <span aria-hidden="true">&times;</span>
				  </button>
				</div>
			</div>
			<div class="col-2">
				<a class="btn btn-primary" th:href="@{/}" role="button">Main Page</a>
			</div>
		</div>
		<div class = "row">
			<hr>
		</div>
		<div class = "row">
			<div class = col-12>
				<form action="postuploadExcelFile" method="post" enctype="multipart/form-data">
					<div class="custom-file form-group">
				    	<input type="file" class="custom-file-input" id="customFile" name="file">
				    	<label class="custom-file-label" for="customFile">Choose file</label>
				  	</div>
		  			<div class = "row">
						<hr>
					</div>
				  	<button type="submit" class="btn btn-primary mb-2">Submit</button>
				</form>
			</div>
		</div>
	</div>
	<script>
		$(".custom-file-input").on("change", function() {
		  var fileName = $(this).val().split("\\").pop();
		  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
		});
	</script>
</body>
</html>